:root {
    --light-beige: #EEDFC2;
    --taupe: #C1AE8D;
    --vibrant-orange: #FF904C;
    --vibrant-orange-hover: #E68045;
    --charcoal-grey: #525249;
    --charcoal-grey-hover: #4A4842;
    --warm-brown: #887A5F;
    --dark-maroon: #89192D;
    --bright-red: #FF002D; 
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background: var(--warm-brown);
    color: var(--charcoal-grey);
    -webkit-user-select: none;
    font-family: 'Strait';
    font-size: 25px;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.machine-container {
    box-shadow: 15px -13px 14px rgba(0, 0, 0, 0.18);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    background: var(--light-beige);
    height: 550px;
    width: 900px;
}

.panel-logo img{
    margin-bottom: 30px;
    width: 50%;
}

.panel-settings {
    justify-content: space-between;
    padding: 10px 15px;
    flex-direction: row;
    display: flex;
    color: var(--light-beige);
    background-color: var(--charcoal-grey);
    gap: 10px;
}

.key-container {
    flex-direction: row;
    gap: 10px;
    display: flex;
}

.key-container select {
    text-align: center;
    appearance: none;
    user-select: none;
    outline: none;
    font-size: 18px;
    font-family: 'Strait';
    color: var(--charcoal-grey);
    background-color: var(--taupe);
    flex-direction: row;
    display: flex;
    width: 50px;
}

.key-container select option {
    user-select: none;
}

.scale-container {
    flex-direction: row;
    gap: 10px;
    display: flex;
}

.scale-container select {
    text-align: center;
    appearance: none;
    outline: none;
    color: var(--charcoal-grey);
    background-color: var(--taupe);
    flex-direction: row;
    display: flex;
    font-size: 18px;
    font-family: 'Strait';
    width: 145px;
}

.instrument-container {
    flex-direction: row;
    gap: 10px;
    display: flex;
}

.instrument-container select {
    text-align: center;
    appearance: none;
    font-family: 'Strait';
    outline: none;
    color: var(--charcoal-grey);
    background-color: var(--taupe);
    flex-direction: row;
    display: flex;
    font-size: 18px;
    width: 140px;
    margin-right: 10px;
}

.genre-container {
    flex-direction: row;
    gap: 10px;
    display: flex;
}

.genre-container select {
    text-align: center;
    appearance: none;
    width: 65px;
    outline: none;
    border: none;
    user-select: none;
    color: var(--charcoal-grey);
    background-color: var(--taupe);
    flex-direction: row;
    display: flex;
    font-size: 18px;
    font-family: 'Strait';
}

.panel-control {
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
    flex-direction: row;
    display: flex;
    color: var(--light-beige);
}

.left-container {
    background-color: var(--charcoal-grey);
    padding: 10px 15px;
    align-self: center;
    flex-direction: row;
    gap: 10px;
    display: flex;
}

.volume-container {
    align-self: center;
    flex-direction: row;
    gap: 10px;
    display: flex;
}

.volume-container input{
    align-self: center;
    flex-direction: row;
    gap: 10px;
    display: flex;
    font-family: 'Strait';
}

.slidecontainer {
    align-self: center;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: var(--light-beige);
    outline: none;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: var(--vibrant-orange);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--vibrant-orange);
    cursor: pointer;
}

.buttons-container {
    flex-direction: row;
    gap: 13px;
    margin-left: 5px;
    display: flex;
}

.buttons-container button {
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--charcoal-grey);
    font-family: 'Strait';
    background: var(--vibrant-orange);
    padding: 0px 25px;
}

.buttons-container button:hover {
    color: var(--charcoal-grey-hover);
    background: var(--vibrant-orange-hover);
    border: 10px solid var(black);
}

.buttons-container button.active {
    color: var(--charcoal-grey-hover);
    background: var(--vibrant-orange-hover);
    border: 10px solid var(black);
}

.bpm-text {
    padding-right: 15px;
}

.bpm-container {
    width: 90px;
    background-color: #89192D;
    color: #FF002D;
    font-size: 30px;
    align-content: center;
    font-family: 'Dseg';
    border: 2px solid #000;
    cursor: pointer;
}

.right-container {
    padding: 10px 15px;
    background-color: var(--charcoal-grey);
    align-self: center;
    flex-direction: row;
    height: 28px;
    gap: 10px;
    display: flex;
}

.right-container button {
    border: none;
    font-size: 20px;
    padding: 0px 25px;
    color: var(--charcoal-grey);
    font-family: 'Strait';
    background: var(--vibrant-orange);
}

.right-container button:hover {
    color: var(--charcoal-grey-hover);
    background: var(--vibrant-orange-hover);
}

.menu-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}

.menu-buttons button {
    border: none;
    font-size: 20px;
    width: 75px;
    cursor: pointer;
    color: var(--charcoal-grey);
    font-family: 'Strait';
    background: var(--vibrant-orange);
}

.menu-buttons button:hover {
    color: var(--charcoal-grey-hover);
    background: var(--vibrant-orange-hover);
}

.menu-buttons a {
   text-decoration: none;
   color: var(--charcoal-grey);
}